.section-comment-title {
  font-size: 21px;
  @include font-open-sans;
  font-weight: 700;
  margin-bottom: 35px;
  margin-top: 35px;
  padding: 0;
  text-transform: uppercase;
}

.comment-form {

  .field--name-comment-body {
    clear: both;
    &:before {
      clear: both;
      display: table;
      content: ' ';
    }
  }
  .field--name-subject {
    input {
      width: 100%;
    }
  }
  @media (min-width: $col-md) {
    .form-item-name {
      padding-right: 15px;
    }
    .form-type-textarea {
      textarea {
        min-height: 190px;
      }
    }
  }
}

.comment {
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
  border-top: 1px solid rgb(233, 236, 241);
  &:first-child {
    border-top: 0 none;
  }
  .comment-header {
    @include clearfix;

    .comment-author, .comment-submitted {
      @media (min-width: $col-md) {
        display: block;
        float: left;
      }
      h3 {
        line-height: 1.5;
        a {
          color: $body-color;
          &:hover {
            text-decoration: none;
            color: $color;
          }
        }
      }
      p {
        margin-bottom: 0;
      }
    }
    .comment-author {
      margin-right: 5px;
    }
    footer {
      @include clearfix;
    }
  }
  .field--name-user-picture {
    img {
      width: 80px;
      height: 80px;
    }
  }
  .comment-author {
    h3 {
      margin-top: 0;
      margin-bottom: 20px;
      padding-bottom: 0;
      font-size: 14px;
    }
  }

  .permalink {
    a {
      font-size: 0;
      &:before {
        @include fa;
        content: "\f0c1";
        font-size: 14px;
        line-height: 1.5;
        margin-left: 5px;
      }
    }

  }
  .comment-submitted {
    font-size: 13px;
  }
  .comment-links {
    text-align: right;
    .comment-reply {
      a {
        background-color: $color;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        font-weight: 700;
        padding: 5px 10px;
        color: $body-color;
        text-decoration: none;
        display: inline-block;
        &:hover, &:active {
          text-decoration: none;
          outline: 0;
        }
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

.indented {
  .comment {
    background-color: #fcfcfc;
    border-bottom: 1px solid rgb(233, 236, 241);
    padding-left: 27px;
    padding-right: 27px;
  }
}

body.user-anonymous-viewing {
  .comment-form{
    .form-item-name, .field--name-subject {
      input {
        width: 100%;
      }
    }
  }

  @media (min-width: $col-md) {
    .comment-form {
      .field--name-subject {
        padding-left: 15px;
      }
      .form-item-name, .field--name-subject {
        display: block;
        float: left;
        width: 50%;
        input {
          width: 100%;
        }
      }
    }
  }

}

.comments-list {
  & > .comment {
    &:first-child {
      border-top: 0 none;
    }
  }
}

.comments-list > .comment:first-of-type {
  border-top: 0 none;
  padding-top: 0;
  margin-top: 0;
}