.form-text, .form-email, .form-mail, .form-password, .form-search, .form-textarea, .form-url {
  padding: 15px 12px;
  border-style: solid;
  border-width: 2px;
  border-width: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-color: $input-border-color;
  &:focus, &:active {
    @extend .border-color;
  }
}
