#block-topnavigation {
  @media (max-width: 480px) {
    display: none;
  }
}

#top-bar {
  background-color: #f5f6f8;
  color: #989b9f;
  position: relative;
  z-index: 1001;
  .block {
    @include clearfix;
    padding: 8px 0;
    .block-title {
      line-height: 1.846;
      margin: 0 15px 0 0;
      padding: 0;
      font-size: 13px;
      font-weight: 400;
      @include font-open-sans;
      float: left;
      display: block;
    }
    ul.menu {
      display: block;
      float: left;
      li {
        display: inline-block;
        margin: 0 15px 0 0;
        padding: 0;
        position: relative;
        a {
          font-size: 13px;
          color: #364657;
          line-height: 1.846;
          &:hover {
            text-decoration: none;
            color: $color;
          }
        }
        @media (min-width: $col-sm) {
          > ul {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 190px;
            padding: 11px 0 0 0;
            li {
              margin: 0;
              padding: 0;
              display: block;
              position: relative;
              a {
                background-color: #f5f6f8;
                display: block;
                padding: 5px 12px;
                &:hover {
                  text-decoration: none;
                  color: $color;
                }
              }
              > ul {
                position: absolute;
                top: -11px;
                left: 100%;
                display: none;
              }
              &:hover {
                > ul {
                  display: block;
                }
              }
            }
          }

        }

        &:hover {
          > ul {
            display: block;
          }
        }

      }
    }
    @media (min-width: $col-md) {
      float: right;
      &:first-child {
        float: left;
      }
    }

  }
  .social-links {
    li {
      margin: 0 12px 0 0;
      a {
        line-height: 1.846;
        &:before {
          color: #b5b8bb;
          line-height: 1.846;
        }
        &:hover {
          &:before {
            color: $color;
          }
        }
      }
    }
  }
}

.toolbar-oriented .toolbar-bar {
  z-index: 1010;
}

#header {
  background-color: $header-background-color;
  border: 0 none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  min-height: 70px;
  margin: 0;
  padding: 0;
  .navbar-header {
    position: relative;
    z-index: 1;
  }
  .navbar-toggle {
    margin-top: 20px;
    z-index: 1;
    .icon-bar {
      background-color: #FFF;
      width: 32px;
    }
  }
  .block-system-branding-block {
    padding: 19px 0;
    a, .site-slogan {
      @media (max-width: $col-sm) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
  #main-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      list-style: none;
      margin: 0;
      position: relative;
      @media (min-width: $col-md) {
        padding: 0 10px 0 0;
      }

      @media (min-width: $col-lg) {
        padding: 0 27px 0 0;
      }
      a {
        font-weight: 700;
        @media (min-width: $col-md) {
          height: 70px;
          line-height: 70px;
        }
        display: inline-block;
        padding: 0;
        color: #949da7;
        text-transform: uppercase;
        background: none;
        &:hover, &.active, &.is-active {
          background: none;
          color: $color;
          text-decoration: none;
          outline: 0;
        }
      }
      @media (max-width: $col-md) {
        padding: 10px 0;
        a {
          text-transform: none;
          display: block;
        }
        ul.sub-menu {
          background-color: #303337;
          padding: 10px;
        }
      }
      @media (min-width: $col-md) {
        /*  level 2*/
        ul {
          list-style: none;
          min-width: 190px;
          padding: 0;
          position: absolute;
          left: 0;
          top: 100%;
          display: none;
          background-color: #303337;
          li {
            padding: 0;
            position: relative;
            a {
              border-bottom: 1px solid #414245;
              font-weight: 700;
              padding: 15px 34px;
              display: block;
              position: relative;
              color: $main-menu-color;
              line-height: 1.714;
              height: auto;
              display: block;
              outline: 0;
              &:after {
                @include fa;
                content: "\f105";
                color: $main-menu-color;
                position: absolute;
                right: auto;
                left: 17px;
                top: 19px;
                font-weight: 700;

              }
              &:hover, &:focus, &.is-active {
                background: transparent url("../images/footer_heading_bg.png") scroll 0 0 repeat;
                color: $color;
                text-decoration: none;
                outline: 0;
                &:after {
                  color: $color;
                }
              }
            }
            &:last-child {
              a {
                border-bottom: transparent;
              }
            }

            /** level 3 */
            ul {
              position: absolute;
              left: 100%;
              top: 0;
              display: none;
            }
            /* end level 3 */

            &:hover {
              > ul {
                -moz-animation: fadeInRight .1s ease-in;
                -webkit-animation: fadeInRight .1s ease-in;
                animation: fadeInRight .1s ease-in;
              }
            }

          }
        }
        /** end level 2 */
        &:hover {
          > ul {
            display: block;
            -moz-animation: fadeInUp .1s ease-in;
            -webkit-animation: fadeInUp .1s ease-in;
            animation: fadeInUp .1s ease-in;
          }
        }
      }

    }

    @media (min-width: $col-md) {
      float: right;
    }
  }
  .sidebar-toggle {
    margin: 12px 0 0 32px;
    display: none;
    position: relative;
    z-index: 1;
    float: right;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 9px 10px;
    .icon-bar {
      &:first-child {
        margin-top: 0;
      }
      margin-top: 5px;
      display: block;
      width: 32px;
      height: 2px;
      border-radius: 1px;
      background-color: #FFF;
    }
    @media (min-width: $col-md) {
      display: block;
    }
  }
  .block-main-navbar {
    .contextual {
      right: 50px;
    }
  }
  #sidebar-toggle-btn {
    visibility: visible;
    &.disabled {
      visibility: hidden;
    }
  }
}

.block-system-branding-block {
  @include clearfix;
  .site-name {
    color: #FFF;
    font-size: 42px;
    text-decoration: none;
    text-transform: uppercase;
    @include font-montserrat;
    font-weight: 700;
    line-height: 0.571;
  }
}

body {
  &.toolbar-horizontal {
    #header {
      &.navbar-fixed-top {
        top: 39px;
      }
    }
    &.toolbar-tray-open {
      #header {
        &.navbar-fixed-top {
          top: 79px;
        }
      }
    }
  }
}