article.node {
  .node-meta {
    margin-top: 25px;
    min-height: 30px;
    ul {
      @include clearfix;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        margin: 0;
        padding: 0 10px 0 0;
        display: block;
        float: left;
      }
    }
    .author-name {
      font-weight: bold;
    }
    a {
      text-decoration: none;
      &:hover {
        color: $color;
      }
    }
  }
  .featured-image {
    position: relative;
    z-index: 0;
    .field__items {
      margin: 0;
      padding: 0;
      display: block;
      float: none;
    }
    .field__label {
      display: none;
    }
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
    }

  }
  .video-field-wrapper {
    img {
      width: 100%;
      height: auto;
    }
  }
  &.full {
    .featured-image, .video-field-wrapper {
      margin-bottom: 0;
    }
    .featured-image {
      .field__item {
        position: relative;
        display: block;
        img {
          position: relative;
          z-index: 0;
        }
        &:before {
          content: ' ';
          position: absolute;
          z-index: 1;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          background: rgba(44, 47, 51, 0.6);
          display: inline-block;
        }
      }
    }
    .field--name-field-category {
      margin-bottom: 0;
    }
    .node-meta {
      color: #FFF;
      a {
        color: #FFF;
        &:hover {
          color: $color;
        }
      }
      ul {
        li {
          line-height: 60px;
        }
      }
    }
    .node-header {
      @include clearfix;
      position: relative;
      background-color: $header-background-color;
      margin-bottom: 25px;
      @media (min-width: $col-md) {
        min-height: 300px;
        .featured-image {
          margin-left: -180px;
          margin-right: -180px;
          position: relative;
        }

      }
      .node-info {
        padding: 40px 15px;
        @media (min-width: $col-md) {
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 2;
        }
      }
      &.has-video {
        min-height: 100px;
        background: none;
        .node-info {
          position: relative;
          bottom: auto;
          left: auto;
          color: $body-color;
          padding-left: 0;
          padding-right: 0;
          .node-title {
            color: $body-color;
            a {
              color: $body-color;
            }
          }
          .node-meta, .node-likes {
            color: $body-color;
            a {
              color: $body-color;
              &:hover {
                color: $color;
              }
            }
          }
        }
      }
    }
    .node-info {
      h2.node-title {
        color: #FFF;
      }
    }
    h2.node-title {
      @include font-montserrat;
      font-weight: 700;
      line-height: 1.167;
      font-size: 16px;
      margin-top: 20px;
      padding-top: 0;
      @media (min-width: $col-md) {
        font-size: 36px;
      }
      a {
        color: #FFF;
        &:hover, &:active {
          text-decoration: none;
          color: #FFF;
        }
      }
    }

    .portfolio-featured-image {
      margin-bottom: 40px;
    }
  }
  &.teaser {
    margin-bottom: 30px;
    .featured-image {
      margin: 0 0 20px 0 !important;
      img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }
    .node-meta {
      margin-top: 20px;
    }
  }
  .node-title {
    font-size: 16px;
    color: $body-color;
    margin-top: 0;
    a {
      color: $body-color;
      &:hover {
        color: $color;
        text-decoration: none;
      }
    }
  }
  .featured-image, .video-field-wrapper {
    margin-bottom: 20px;
  }
  .field--name-field-category {
    @include clearfix;
    margin-bottom: 27px;
    font-weight: 700;
    color: $body-color;
    text-transform: uppercase;
    .field__item, a {
      background-color: $color;
      color: $body-color;
      padding: 7px 10px;
      display: inline-block;
      line-height: 1.714;
      text-align: center;
      text-decoration: none;
      &:hover {
        text-decoration: none;
        color: $body-color;
      }
      a {
        text-decoration: none;
        color: $body-color;
        &:hover {
          text-decoration: none;
          color: $body-color;
        }
      }

    }
  }
  .node-meta {
    ul {
      li {
        font-size: 13px;
        &.author-name {
          font-size: 14px;
        }
        @media (max-width: 400px) {
          line-height: 1.5;
        }
      }
    }
    .node-created {
      &:before {
        @include fa;
        content: "\f017";
        margin-right: 5px;
        font-size: 14px;
      }

    }
    .like-wrapper {
      &:before {
        @include fa;
        content: "\f004";
        margin-right: 5px;
        font-size: 14px;
      }
      .link-title {
        display: none;
      }
      &.unlike {
        &:before {
          color: $color;

        }
      }
    }

    .node-comment-count {
      &:before {
        @include fa;
        content: "\f27a";
        margin-right: 5px;
        font-size: 14px;
      }
    }
  }
  blockquote {
    position: relative;
    padding-left: 30px;
    @include font-montserrat;
    font-weight: 400;
    font-size: 16px;
    border: 0 none;
    margin-bottom: 0;
    &:before {
      @include fa;
      content: "\f10d";
      position: absolute;
      top: 15px;
      left: 0;

    }
  }
  .field--name-body {
    h2 {
      font-size: 36px;
    }
    h4 {
      font-size: 24px;
    }
    h2, h3, h4, h5, h6 {
      margin-bottom: 20px;
      padding-bottom: 0;
    }
    h6 {
      font-size: 16px;
    }
    ul, ol {
      padding-left: 15px;
      list-style: none;
      li {
        padding-left: 0;
        margin-bottom: 8px;
        position: relative;
      }
    }
    ol {
      li {
        counter-increment: step-counter;
        padding-left: 15px;
        &:before {
          content: counter(step-counter);
          margin-right: 15px;
          position: absolute;
          left: -15px;
          color: $color;
          font-weight: 700;
        }

      }
    }
    ul {
      li {
        padding-left: 15px;
        position: relative;
        &:before {
          @include fa;
          font-weight: 700;
          content: "\f111";
          color: $color;
          position: absolute;
          top: 0;
          left: -15px;
          font-size: 10px;
          line-height: 14px;
        }
      }
    }
    .row {
      &:first-child {
        margin-top: 0;
      }
      margin-top: 30px;
      margin-bottom: 30px;
    }
    p {
      margin-bottom: 20px;
      line-height: 1.571;
    }
  }
  .share-links {
    text-align: center;
  }

  &.node-type-portfolio {

    &.full {
      padding-bottom: 40px;
      h2.node-title {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 40px;
      }
      .project-description {
        h3 {
          font-size: 16px;
          font-weight: 800;
          margin-bottom: 30px;
          padding: 0;
          margin-top: 0;
          text-transform: uppercase;
        }
        .button {
          text-transform: uppercase;
          border: 0 none;
          margin-top: 20px;
          display: inline-block;
          &:hover {
            color: $body-color;
          }
        }
      }

    }
  }
}

.field--name-user-picture {
  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    &:hover {
      border-color: $color;
    }
  }
}

.post-pagination {
  border-top: 1px solid rgb(232, 235, 240);
  .field--name-user-picture {
    img {
      width: 80px;
      height: 80px;
    }
  }
  .post-pagination-link {
    font-size: 13px;
    color: $body-color;
    &:hover {
      color: $color;
      text-decoration: none;
    }
    &.next {
      &:after {
        @include fa;
        content: "\f101";
        margin-left: 5px;
      }
    }
    &.prev {
      &:before {
        @include fa;
        content: "\f100";
        margin-right: 5px;
      }
    }
  }
  .media-left {
    padding-right: 30px;
  }
  .media-right {
    padding-left: 30px;
  }
  .media-body {
    h3, h4, h5, h6 {
      font-size: 14px;
      line-height: 1.571;
      padding-top: 0;
      margin-top: 15px;
      a {
        color: $body-color;
        &:hover {
          text-decoration: none;
          color: $color;
        }
      }
    }
  }
  .post-prev, .post-next {
    .media {
      padding-top: 45px;
      padding-bottom: 45px;

    }
    @media (min-width: $col-md) {
      min-height: 180px;
    }
  }
  .post-prev {
    border-right: 1px solid rgb(232, 235, 240);
    padding-right: 30px;
  }
  .post-next {
    padding-left: 30px;
  }
}

.social-share-links {
  border-top: 1px solid rgb(232, 235, 240);
  padding: 40px 0;
  margin: 10px 0 0 0;
  @include clearfix;
  list-style: none;
  li {
    display: inline-block;
    padding: 0 10px 10px 0;
    margin: 0;
    a {
      line-height: 18px;
      font-size: 14px;
      font-weight: 700;
      color: #FFF;
      text-decoration: none;
      outline: 0;
      text-align: center;
      background-color: $color;
      display: inline-block;
      padding: 18px 24px;
      &:hover, &:active, &:focus {
        outline: 0;
        text-decoration: none;
        opacity: 0.8;
      }
      &:before {
        @include fa;
        font-size: 16px;
        margin-right: 10px;
      }
      &.facebook {
        background-color: #3d57a2;
        &:before {
          content: "\f09a";
        }
      }
      &.twitter {
        background-color: #2ba3e1;
        &:before {
          content: "\f099";
        }
      }
      &.google {
        background-color: #ea4335;
        &:before {
          content: "\f0d5";
        }
      }
      &.pinterest {
        background-color: rgb(203, 32, 39);
        &:before {
          content: "\f0d2";
        }
      }
      &.linkedin {
        background-color: #268bbf;
        &:before {
          content: "\f0e1";
        }
      }

      @media (max-width: $col-md) {
        width: 30px;
        height: 30px;
        margin: 0;
        padding: 0;
        font-size: 0;
        overflow: hidden;
        padding: 8px;
        text-align: center;
        &:before {
          font-size: 16px;
          line-height: 15px;
          display: inline-block;
          text-align: center;
          margin: 0;
        }
      }
    }

  }
}

.related-posts {
  background-color: #fcfcfc;
  padding-top: 50px;
  padding-bottom: 50px;
  @media (min-width: $col-md) {
    padding-left: 3000px;
    margin-left: -3000px;
    padding-right: 3000px;
    margin-right: -3000px;
  }
  .heading {
    @include font-open-sans;
    font-weight: 700;
    font-size: 21px;
    padding-bottom: 0;
    margin-bottom: 40px;
    text-transform: uppercase;
  }
}

article.node.compact {
  padding: 30px;
  background-color: #FFF;
  h2.node-title {
    font-size: 16px;
    line-height: 1.5;
    max-height: 70px;
    margin-bottom: 0;
    min-height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    a {
      color: $body-color;
      &:hover {
        color: $color;
        text-decoration: none;
      }
    }
  }
  .node-meta {
    color: $body-color;
    margin-top: 10px;
    ul {
      li {
        line-height: 1.5;
      }
    }
    .author-name {
      font-weight: bold;
    }
    a {
      color: $body-color;
      &:hover {
        color: $color;
      }
    }
  }
}

article.node.grid {
  margin-bottom: 30px;
  .node-likes {
    a {
      color: $body-color;
    }
  }
  @media (min-width: $col-sm) {
    min-height: 530px;
  }
  @media (min-width: $col-md) {
    min-height: 490px;
  }

  .video-field-wrapper {
    a {
      &:before {
        line-height: 370px;
      }
    }
  }
}

.view-related-news {
  .view-content {
    @include clearfix;
    margin-right: -15px;
    margin-left: -15px;
  }
}

.node__links {
  margin-top: 20px;
}

.event-block {
  text-align: center;
  padding: 30px 34px;
  position: relative;
  min-height: 520px;
  margin-bottom: 40px;
  background-size: cover;
  &.border {
    border: 6px solid $color;
  }
  h2, h3 {
    @include font-open-sans;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 0;
    padding-top: 0;
  }
  .date {
    background: transparent url("../images/event_date_bg.png") scroll 0 0 no-repeat;
    width: 230px;
    height: 230px;
    display: inline-block;
    margin-bottom: 30px;
    @include font-oswald;
    font-weight: 400;
    font-size: 48px;
    span {
      background: transparent url("../images/date.png") scroll 0 0 no-repeat;
      display: inline-block;
      width: 82px;
      height: 92px;
      line-height: 92px;
      margin-top: 70px;
      color: #FFF;
    }
  }
  .button {
    display: inline-block;
    background-color: $color;
    font-size: 18px;
    border: 0 none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-transform: uppercase;
    &:hover {
      background-color: $color;
      color: $body-color;
      text-decoration: none;
      outline: 0 none;
      border: 0 none;
    }
  }
  hr {
    margin-top: 25px;
    border-color: #e8ebf0;
  }
  p {
    font-weight: 700;
  }
  &.white {
    color: #FFF;
    hr {
      border-color: rgb(232, 235, 240);
    }

  }

  .event-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px;
  }
}

.view-home-news {
  .view-content {
    @include clearfix;
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
  }
  .view-row {

  }
}

.view-display-id-news_bottom {
  .node {
    .video-field-wrapper, .featured-image {
      img {
        height: 300px;
        position: relative;
        z-index: 0;
      }
      a {
        position: relative;
        display: block;
        &:before {
          background: rgba(44, 47, 51, 0.6);
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          content: ' ';
          z-index: 1;
        }
      }
    }
    .node-info {
      z-index: 2;
    }
    @media (min-width: $col-md) {
      .video-field-wrapper, .featured-image {
        margin-bottom: 0;
      }
      .node-header {
        position: relative;
        min-height: 360px;
        background-color: #2c2f33;
        .node-info {
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 30px;
          color: #FFF;
          .node-title {
            color: #FFF;
            a {
              color: #FFF;
              &:hover {
                color: $color;
              }
            }
          }
          .node-likes {
            a {
              color: #FFF;
            }
          }
        }

      }
    }

    &:hover {
      .video-field-wrapper, .featured-image {
        a {
          &:before {
            background: none;
          }
        }
      }
    }
  }
}

.view-display-id-short_news_bottom {
  .views-field-name {
    font-size: 24px;
    @include font-open-sans;
    font-weight: 700;
    padding-bottom: 18px;
    border-bottom: 3px solid $color;
    text-transform: uppercase;
  }
  .node-per-term {
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e8ebf0;
    display: block;
    font-weight: 700;
    a {
      color: $body-color;
      text-decoration: none;
      &:hover {
        text-decoration: none;
        outline: 0;
        color: $color;
      }
    }
    &:last-child {
      border-bottom: 0 none;
    }
  }

}

.section-short-news {
  margin-top: 10px;
  padding-bottom: 30px;
}

.video-field-wrapper {
  position: relative;
  a {
    position: relative;
    display: block;
    &:before {
      content: "\f16a";
      @include fa;
      font-size: 48px;
      color: $color;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(44, 47, 51, 0.4);
      line-height: 300px;
      display: inline-block;
      text-align: center;
    }
    &:hover {
      &:before {

      }
    }

  }
}

.section-popular-news, .view-display-id-popular_news {
  .views-row {
    .node {
      .video-field-wrapper {
        a {
          &:before {
            line-height: 300px;
          }
        }
      }
      .featured-image {
        img {
          height: 300px;
          position: relative;
          z-index: 0;
          @media (max-width: $col-md) {
            height: auto;
          }
        }
        a {
          position: relative;
          display: block;
          &:before {
            background: rgba(44, 47, 51, 0.5);
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            content: ' ';
            z-index: 1;
          }
        }

        @media (min-width: $col-md) {
          margin-bottom: 0;
        }
      }
      .node-info {
        z-index: 2;
      }
      &:hover {
        .video-field-wrapper, .featured-image {
          a {
            &:before {
              background: none;
              z-index: 1;
            }
          }
        }
      }
    }
  }

  @media (min-width: $col-sm) {
    .view-content {
      @include clearfix;
    }
    .views-row {
      float: left;
      width: 50%;
      .field--name-field-category {
        display: none;
      }
      .node {
        margin-bottom: 0;
        min-height: 300px;
        .node-title {
          font-size: 14px;
          color: #FFF;
          line-height: 1.571;
          overflow: hidden;
          max-height: 150px;
          a {
            color: #FFF;
            &:hover {
              color: $color;
            }
          }
        }
        .node-meta {
          color: #FFF;
          margin-top: 8px;
          .node-likes {
            color: #FFF;
            a {
              color: #FFF;
            }
          }
        }
        .node-header {
          position: relative;
          .node-info {
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 20px;
          }
        }
        .video-field-wrapper, .featured-image {
          margin-bottom: 0;
          img {
            height: 300px;
          }
        }
      }
    }

  }

  @media (min-width: $col-md) {
    .view-content {
      @include clearfix;
    }
    .views-row {
      float: left;
      width: 25%;
      .field--name-field-category {
        display: none;
      }
      .node {
        margin-bottom: 0;
        min-height: 300px;
        .node-title {
          font-size: 14px;
          color: #FFF;
          line-height: 1.571;
          overflow: hidden;
          max-height: 150px;
          a {
            color: #FFF;
            &:hover {
              color: $color;
            }
          }
        }
        .node-meta {
          color: #FFF;
          margin-top: 8px;
          .node-likes {
            color: #FFF;
            a {
              color: #FFF;
            }
          }
        }
        .node-header {
          position: relative;
          .node-info {
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 20px;
          }
        }
        .video-field-wrapper, .featured-image {
          margin-bottom: 0;
          img {
            height: 300px;
          }
        }
      }
    }

  }

}

.section-popular-news {
  .view-home-popular-news {
    border-bottom: 1px solid rgb(232, 235, 240);
    padding-bottom: 30px;
  }

}

.popular-news-title {
  h2, h3 {
    font-size: 21px;
    margin-bottom: 30px;
    padding-bottom: 0;
  }
}

article.node.node-type-slider {
  .slider-inner {
    position: relative;
    @media (min-width: $col-md) {
      min-height: 300px;
    }
  }
  .overlay {
    z-index: 1;
  }
  .slider-container {
    padding-top: 30px;
  }
  .slide-content {
    position: relative;
    @media (min-width: $col-md) {
      position: absolute;
      left: 0;
      bottom: 0;
    }
    z-index: 2;
    width: 100%;
  }
  .slider-background {
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      z-index: 0;

    }
    .field {
      &:before {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        display: inline-block;
        background: rgba(44, 47, 51, 0.6);
        z-index: 1;
        content: ' ';
      }
    }

  }
  .node {
    background: none;
    color: #FFF;
    padding: 0;
    margin-bottom: 52px;
    .node-title {
      min-height: inherit;
      max-height: 200px;
    }
    .node-title, .node-meta {
      color: #FFF;
      a {
        color: #FFF;
      }
    }
    .node-meta {
      margin-top: 15px;
    }
    @media (max-width: $col-md) {
      margin-bottom: 30px;
      .field--name-field-category {

      }
    }
  }
  .featured-post-wrapper {
    @media (min-width: $col-md) {
      padding-top: 130px;
      .node-title {
        font-size: 36px;
        @include font-montserrat;
        overflow: visible;
        line-height: 1.167;
        min-height: 90px;
      }
    }

  }
}

#toggle-sidebar {
  .view-display-id-sidebar_recent_posts {
    .views-row {
      border-bottom: 1px solid #45484b;
    }
    .views-field-title {
      color: #FFF;
      a {
        color: #FFF;
        &:hover {
          color: $color;
        }
      }
    }
  }
}

.view-display-id-sidebar_recent_posts {
  .view-content, .views-row {
    @include clearfix;
  }
  .views-row {
    border-bottom: 1px solid #e8ebf0;
    padding: 22px 0;
    &:last-child {
      border: 0 none;
    }
  }
  .views-field-title {
    @include font-montserrat;
    font-weight: 700;
    color: $body-color;
    a {
      color: $body-color;
      text-decoration: none;
      &:hover {
        text-decoration: none;
        outline: 0;
        color: $color;
      }
    }
  }
  .views-field-user-picture {
    float: left;
    display: block;
    margin: 14px 22px 14px 0;
    img {
      width: 80px;
      height: 80px;
      -webkit-border-radius: 80px;
      -moz-border-radius: 80px;
      border-radius: 80px;
    }
  }
  .views-field-created {
    margin-top: 22px;
    color: $main-menu-color;
    &:before {
      @include fa;
      content: "\f017";
      display: inline-block;
      margin-right: 8px;
    }
  }
}

.view-display-id-author_posts {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #e8ebf0;
}

.use-row, .view-display-id-author_posts {
  .view-content {
    @include clearfix;
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
  }
  @media (min-width: $col-md) {

  }
}

.node-grid {
  .node-info {
    position: relative;
    .info {
      padding: 30px 0;
      .title {
        font-size: 16px;
        @include font-montserrat;
        font-weight: 700;
        margin-top: 22px;
        margin-bottom: 22px;
        display: block;
        a {
          color: $body-color;
          &:hover {
            text-decoration: none;
            color: $color;

          }
        }
      }
      .category {
        background-color: $color;
        color: $body-color;
        font-weight: 700;
        padding: 8px 10px;
        display: inline-block;
        text-transform: uppercase;
        a {
          color: $body-color;
          &:hover {
            text-decoration: none;
            color: $body-color;
          }
        }
      }
      ul.meta {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          display: inline-block;
          margin-right: 15px;
          &:before {
            @include fa;
            margin-right: 6px;
          }
          &.date {
            &:before {
              content: "\f017";
            }

          }
          &.like {
            .link-title {
              display: none;
            }
            a {
              color: $body-color;
              &:before {
                @include fa;
                content: "\f004";
              }
              &:hover {
                text-decoration: none;
                outline: 0;
                color: $color;
              }
              &.unlike {
                color: $color;
              }
            }

          }
          &.comment-count {
            &:before {
              content: "\f27a";
            }

          }
        }
      }

    }
    .media {
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }

  @media (min-width: $col-md) {
    .node-info {
      min-height: 360px;
      width: 470px;
      .media {
        img {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          height: 100%;
          width: 100%;
        }
        &:before {
          position: absolute;
          content: ' ';
          background: rgba(44, 47, 51, 0.6);
          z-index: 2;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
        }
      }
      .info {
        position: absolute;
        z-index: 3;
        bottom: 0;
        left: 0;
        padding: 30px;
        color: #FFF;
        .title {
          color: #FFF;
          a {
            color: #FFF;
          }
        }
        ul.meta {
          color: #FFF;
          li {
            a {
              color: #FFF;
              &.like {
                color: #FFF;
              }
            }
          }
        }
      }
    }
  }
}

.timeline {
  .view-content {
    position: relative;
    padding-top: 70px;
    padding-bottom: 70px;
    .views-row {
      position: relative;
      margin-bottom: 30px;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      &:before {
        position: absolute;
        border-style: solid;
        border-width: 3px;
        border-color: #2c2f33;
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
        position: absolute;
        width: 10px;
        height: 10px;
        content: '';
        left: 50%;
        top: 50%;
        margin-top: -7px;
        z-index: 2;
        margin-left: -7px;

      }
      .node-info {
        margin-left: 0;
        width: 40%;
      }
      &:nth-of-type(2n) {
        .node-info {
          float: right;
          position: relative;

        }
      }
    }
    h3 {
      position: absolute;
      left: 50%;
      color: #FFF;
      @include font-open-sans;
      font-size: 14px;
      margin: 0 0 0 -86px;
      padding: 8px 33px 8px 14px;
      font-weight: 700;
      background: transparent url("../images/timeline_date_bg.png") scroll 0 0 no-repeat;
      width: 101px;
      height: 32px;
      z-index: 3;
    }
    &:before {
      content: '';
      width: 4px;
      background-color: $color;
      position: absolute;
      left: 50%;
      margin-left: -4px;
      height: 100%;
      top: 0;
      bottom: 0;
      z-index: 1;
    }
  }
  .pager {
    margin: 0;
    padding: 0;
    ul {
      margin: 0;
      padding: 0;
    }
  }
  .js-pager__items.pager .button {
    display: inline-block;
  }

  @media (max-width: $col-md) {
    .view-content {
      position: relative;
      padding-top: 40px;
      .views-row {
        position: relative;
        margin-bottom: 30px;
        padding-left: 30px;
        padding-top: 80px;
        &:after {
          content: "";
          display: table;
          clear: both;
        }
        &:before {
          position: absolute;
          border-style: solid;
          border-width: 3px;
          border-color: #2c2f33;
          border-radius: 50%;
          background-color: rgb(255, 255, 255);
          box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
          position: absolute;
          width: 10px;
          height: 10px;
          content: '';
          left: 0;
          top: 50%;
          margin-top: -7px;
          z-index: 2;
          margin-left: -7px;
        }
        &:nth-of-type(odd) {
          &:before {
            left: 0;
            margin-left: -7px;
          }
        }
        .node-info {
          margin-left: 0;
          width: 100%;
        }
        &:nth-of-type(2n) {
          .node-info {
            float: none;
            margin-top: 0;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      h3 {
        left: 0;
        background: transparent url("../images/timeline_date_bg_mobile.png") scroll 0 0 no-repeat;
        width: 101px;
        height: 32px;
        margin: 0 0 0 -18px;
        padding: 8px 14px 8px 33px;
        + .views-row {
          .node-info {
            margin-top: 0 !important;
          }
          + .views-row {
            margin-top: 0;
          }
        }

      }
      &:before {
        content: '';
        width: 4px;
        background-color: $color;
        position: absolute;
        left: 0;
        margin-left: -4px;
        height: 100%;
        top: 0;
        bottom: 0;
        z-index: 1;
      }
    }
    .pager {
      margin-top: 30px;
    }
  }
}