.pagination > li > a, .pagination > li > span {
  color: #949da7;
  font-size: 14px;
  font-weight: 700;
}

.pager li > a, .pager li > span {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.pager li > a, .pager li > span {
  border: 1px solid #e5e5e5;
}

.pager li > a:hover, .pager li > a:focus, .pager li.is-active > a {
  background-color: $color;
  color: $body-color;
  border-color: $color;
  font-weight: 700;
}

.js-pager__items.pager {
  .button {
    background-color: $color;
    @include font-open-sans;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0 none;
    display: block;
    text-align: center;
    &:hover, &:active, &:focus {
      border: 0 none;
      text-decoration: none;
    }
    &:before {
      @include fa;
      display: inline-block;
      content: "\f021";
      margin-right: 8px;
    }
  }
}