
.portfolio-wrapper {
  padding-bottom: 40px;
  .portfolio-filter {
    list-style: none;
    margin: 0;
    padding: 0;
    @media (min-width: $col-md) {
      text-align: center;
    }
    @include clearfix;
    li {
      list-style: none;
      padding: 0;
      display: inline-block;
      float: none;
      text-transform: uppercase;
      margin: 0 10px 10px 0;
      a {
        font-size: 12px;
        outline: 0;
        border: 0 none;
        text-decoration: none;
        border: 1px solid rgb(232, 235, 240);
        display: inline-block;
        font-weight: 700;
        color: $body-color;
        padding: 15px 20px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        &:hover {
          text-decoration: none;
          outline: 0;
        }
      }
      &.active {
        a {
          background-color: $color;
          border-color: $color;
        }
      }
    }
  }
  .portfolio-items {
    overflow: hidden;
    list-style: none;
    padding: 0;
    max-width: 100% !important;
    @include clearfix;
    margin-top: 22px;
    .portfolio-item {
      overflow: hidden;
      position: relative;
      list-style: none;
      margin: 0;
      padding: 0;
      img {
        width: 100%;
        height: auto;
        transition: all 0.2s linear;
      }
      @media (min-width: $col-sm) {
        width: 50%;
        float: none;
        display: block;
      }
      @media (min-width: $col-md) {
        width: 33.333%;
        float: left;
        display: block;
        min-height: 100px;
        img {
          width: 100%;
          height: auto;
        }
      }
      float: none;
      width: 100%;
      .views-field-nothing {
        overflow: hidden;
        padding: 0;
        transition: all 0.4s ease-in-out;
        opacity: 0;
        text-align: center;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border: 0 none;
        text-transform: uppercase;
        z-index: 2;
        @include font-open-sans;
        font-weight: 700;
        color: #FFF;
        > .field-content {
          text-align: center;
          display: block;
          a {
            display: block;
            color: $body-color;
            outline: 0;
            &:hover, &:active, &:focus {
              text-decoration: none;
              border: 0 none;
            }
          }
          .icon {
            font-size: 20px;
          }
          h3, h2 {
            font-size: 14px;
            padding: 0;
            margin-top: 0;
            margin-bottom: 18px;
            @include font-montserrat;
          }
          em {
            color: $body-color;
          }
          .category-name {
            background-color: $color;
            display: inline-block;
            padding: 8px;
            color: $body-color;
          }
          .portfolio-links {
            @include clearfix;
            margin-top: 10px;
            a {
              display: inline-block;
              width: 46px;
              height: 46px;
              border-radius: 50%;
              background-color: #FFF;
              font-size: 0;
              line-height: 46px;
              margin-right: 6px;
              &:before {
                font-size: 14px;
              }
              &:hover, &:focus {
                background-color: $color;
              }
            }
          }
        }

      }

      &:hover, &:focus {
        img {
          transform: scale(1.0);
        }
        .views-field-field-image {
          position: relative;
          &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background: rgba(44, 47, 51, 0.8);
            z-index: 1;
          }
        }
        .views-field-nothing {
          opacity: 1;
          background: none;
        }
      }

      @media (min-width: $col-md) {
        padding: 15px;
      }
    }
  }
}

.portfolio-grid {
  &.masonry-layout {
    @media (min-width: $col-md) {
      .portfolio-item {
        &:nth-child(2n+4) {
          img {
            height: 450px;
            object-fit: cover;
          }
        }
      }
    }
  }
}

.portfolio-wrapper {
  @media (min-width: $col-md) {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
  }
}
