.sidebar {
  .block {
    margin-bottom: 30px;
    .block-title {
      font-size: 18px;
      text-transform: uppercase;
      @include font-open-sans;
      line-height: 1.333;
      font-weight: 700;
      padding: 0;
      margin: 0 0 37px 0;
      display: table;
      width: 100%;
      white-space: nowrap;
      &:after {
        content: '';
        width: 100%;
        background: transparent url("../images/dark_heading_pattern.png") scroll center center repeat-x;
        display: table-cell;
        border-left: 10px solid transparent;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
      }
    }
    &:first-child {
      margin-top: 30px;
    }
    .views-row {
      &:first-child {
        padding-top: 0;
      }
    }
  }
  .block-search, .block-views-exposed-filter-blockblog-blog-page {
    form {
      position: relative;
      .form-actions {
        cursor: pointer;
        @include fa;
        clear: none !important;
        position: absolute;
        right: 17px;
        top: 18px;
        display: block;
        padding: 0;
        margin: 0;
        &:before {
          content: "\f002";
          font-size: 16px;
          color: $color;
        }
      }
      .form-submit {
        border: 0 none;
        padding: 0;
        margin: 0;
        font-size: 0;
      }
      input.form-search, .form-text {
        width: 100%;
      }
      .form-item {
        display: block;
        float: none;
        margin: 0;
        padding: 0;
      }
    }

  }

  .form-text {
    width: 100%;
  }
  .form-submit {
    border: 0 none;
    text-transform: uppercase;
  }
}

#toggle-sidebar {
  overflow-y: scroll;
  height: 100%;

  @media (max-width: $col-md) {
    display: none !important;
  }
  display: none;
  color: #FFF;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 1100;
  width: 420px;
  background-color: #2c2f33;
  box-shadow: inset 0px 70px 0px 0px rgba(44, 47, 51, 0.004);
  background: url("../images/sidebar_overlay.png") scroll 0 0 repeat;
  padding: 20px 24px;
  .block {
    margin-bottom: 30px;
    .block-title {
      color: #FFF;
      font-size: 18px;
      text-transform: uppercase;
      @include font-open-sans;
      line-height: 1.333;
      font-weight: 700;
      padding: 0;
      margin: 0 0 37px 0;
      display: table;
      width: 100%;
      white-space: nowrap;
      &:after {
        content: '';
        width: 100%;
        background: transparent url("../images/footer_heading_bg.png") scroll center center repeat-x;
        display: table-cell;
        border-left: 10px solid transparent;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
      }
    }
  }
  .block-search, .views-exposed-form {
    min-height: 50px;
    .block-title {
      display: none;
    }
    form {
      position: relative;
      padding-right: 40px;
      .form-actions {
        cursor: pointer;
        @include fa;
        clear: none !important;
        position: absolute;
        left: 0;
        top: 10px;
        display: block;
        padding: 0;
        margin: 0;
        line-height: 15px;
        &:before {
          content: "\f002";
          font-size: 14px;
          color: #FFF;
        }
      }
      .form-submit {
        border: 0 none;
        padding: 0;
        margin: 0;
        font-size: 0;
      }
      input.form-search, .form-text {
        width: 100%;
        background: none;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 15px;
        border: 0 none;
        padding: 8px 10px 8px 27px;
        &:focus, &:active {
          border: 0 none;
        }
      }
      .form-item {
        display: block;
        float: none;
        margin: 0;
        padding: 0;
      }
    }
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 420px;
    bottom: 0;
    height: 100%;
    padding: 0;
    margin: 0;
    background: transparent url("../images/overlay.png") repeat;
    z-index: 1002;
  }
  &.open {
    display: block;
  }
  .toggle-sidebar-inner {
    position: relative;
  }
  #sidebar-close-btn {
    background: transparent url("../images/sidebar_close_btn.png") scroll 0 0 no-repeat;
    display: block;
    position: absolute;
    top: 4px;
    right: 0;
    text-indent: -99999px;
    width: 24px;
    height: 24px;
    padding: 5px;
    z-index: 1;
  }
  .contextual {
    right: 40px;
  }

  ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      a {
        border-bottom: 1px solid #414245;
        font-weight: 700;
        padding: 15px 22px;
        display: block;
        position: relative;
        color: $main-menu-color;
        &:before {
          content: ' ';
          width: 2px;
          height: 100%;
          display: block;
          top: 0;
          bottom: 0;
          left: 0;
          position: absolute;
          background: none;

        }
        &:after {
          @include fa;
          content: "\f105";
          color: $main-menu-color;
          position: absolute;
          right: auto;
          left: 5px;
          top: 19px;
          font-weight: 700;

        }
        &:hover, &:active, &:focus {
          background: transparent url("../images/footer_heading_bg.png") scroll 0 0 repeat;
          color: $color;
          text-decoration: none;
          outline: 0;
          &:before {
            background-color: $color;
          }
          &:after {
            color: $color;
            left: auto;
            right: 17px;
          }
        }
      }
      &:last-child {
        a {
          border-bottom: transparent;
        }
      }
    }
  }
  .form-text, .form-email, .form-mail, .form-password, .form-search, .form-textarea, .form-url {
    background: none;
    border: 2px solid #45484b;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #FFF;
    opacity: 0.6;
  }
  .form-textarea {
    max-height: 200px;
  }
  .contact-form {
    #edit-preview {
      display: none;
    }
    .button--primary {
      width: 100%;
      display: block;
      text-transform: uppercase;
    }
  }
  .form-text {
    width: 100%;
  }
  .form-submit {
    border: 0 none;
    text-transform: uppercase;
  }

}