html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  @extend .font-open-sans;
  color: $body-color;
  font-size: 14px;
  line-height: 1.5;
}

.color {
  color: $color;
}

#top {
  height: 0;
  border: 0 none;
}

.menu a, button, .button, .btn, .social-links a, a#scroll-to-top {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

input, textarea {
  max-width: 100%;
}

em {
  font-weight: 300;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav.nav-tabs > li > a:hover, .nav > li > a:focus {
  background-color: $color;
  color: $body-color;
}

.nav-tabs > li > a:hover {
  border-color: $color;
}

nav.tabs a.is-active {
  background-color: $color;
  color: $body-color;
}

a {
  text-decoration: none;
  outline: 0 none;
  &:hover, &:focus, &:active {
    outline: 0 none;
  }
}

a, .link-color {
  @extend .color;
}

.display-inline {
  display: inline-block;
}

.color {
  color: $color;
}

.background-color {
  background-color: $color;
}

.border-color {
  border-color: $color;
}

.font-open-sans {
  font-family: 'Open Sans', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.button, .btn {
  @include button;
}

.form-actions {
  .button {
    &:first-child {
      background-color: $color;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  @extend .font-montserrat;
  font-weight: 800;
}

.no-text {
  font-size: 0;
  overflow: hidden;
  &:before {
    font-size: 14px;
  }
}

.clearfix {
  @include clearfix;
}

.layout-container {
  position: relative;
}

.block-local-tasks-block {
  margin-bottom: 25px;
  margin-top: 25px;
}

.text-center {
  text-align: center;
}

.no-text {
  font-size: 0;
  overflow: hidden;
}

.text-right {
  text-align: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-light, .light {
  font-weight: 300;
  color: #949da7;
}

strong {
  font-weight: 700;
}

.extendfull, .extendleft {
  padding-left: 3000px;
  margin-left: -3000px;
}

.extendfull, .extendright {
  padding-right: 3000px;
  margin-right: -3000px;
}

ul.links {
  li {
    &:first-child {
      margin-left: 0;
      padding-left: 0;
    }
  }
}

.section-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

.padding-top-30 {
  padding-top: 30px;
}

.no-padding {
  padding: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.node-padding-top {
  padding-top: 0;
}

.no-margin {
  margin: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.node-margin-top {
  margin-top: 0;
}

.section-margin {
  margin-top: 30px;
  margin-bottom: 0;
}

.text-white {
  color: #FFF;
}

.text-black {
  color: $body-color;
}

.text-color {
  color: $color;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-border {
  border-bottom: 1px solid $color;
}

.text-border-dash {
  border-bottom: 1px dashed $color;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#section-instagram {
  .group {
    min-width: 240px;
    min-height: 240px;
    display: inline-block;
    img {
      display: inline-block;
      width: 100%;
      height: auto;
      &:hover {
        opacity: 0.9;
      }
    }
  }
}

.instagram-button {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 25px;
  margin-top: 20px;
  @include font-open-sans;
  .dark-button, a {
    padding: 15px 48px;
    display: inline-block;
    span {
      color: $color;
    }
  }

}

.dark-button {
  background-color: #2c2f33;
  color: #FFF;
  &:hover, &:focus {
    color: #FFF;
    text-decoration: none;
    outline: 0;
  }
}

.overlay-wrapper {
  position: relative;
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    display: inline-block;
    background: rgba(44, 47, 51, 0.6);
  }
}

ul.social-links {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    margin: 0 22px 0 0;
    padding: 0;
    display: inline-block;
    a {
      overflow: hidden;
      font-size: 0;
      &:before {
        @include fa;
        font-size: 15px;
        color: #8a8a8a;
        color: rgba(102, 102, 102, 0.8);
      }
      &:hover {
        color: $color;
        &:before {
          color: $color;
        }
      }
      &.twitter {
        &:before {
          content: "\f099";
        }
      }
      &.facebook {
        &:before {
          content: "\f09a";
        }
      }
      &.behance {
        &:before {
          content: "\f1b4";
        }
      }
      &.instagram {
        &:before {
          content: "\f16d";
        }
      }
      &.linkedin {
        &:before {
          content: "\f0e1";
        }
      }
      &.pinterest {
        &:before {
          content: "\f0d2";
        }
      }
      &.dribbble {
        &:before {
          content: "\f17d";
        }
      }
      &.youtube {
        &:before {
          content: "\f167";
        }
      }
      &.google-plus, &.g-plus {
        &:before {
          content: "\f0d5";
        }
      }
      &.drupal {
        &:before {
          content: "\f1a9";
        }
      }
      &.github {
        &:before {
          content: "\f09b";
        }
      }
      &.skype {
        &:before {
          content: "\f17e";
        }
      }
      &.slack {
        &:before {
          content: "\f198";
        }
      }
      &.tumblr {
        &:before {
          content: "\f173";
        }
      }
      &.vimeo {
        &:before {
          content: "\f27d";
        }
      }
    }
  }
}

.footer-group {
  background: transparent url("../images/footer_bg.png") scroll 0 0 repeat-x;
  position: relative;
  background-size: cover;
  @media (min-width: $col-md) {
    min-height: 100px;
  }
  &:before {
    content: '';
    z-index: 1;
    position: absolute;
    background: rgba(44, 47, 51, 0.9);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
  }
  .footer-group-inner {
    position: relative;
    z-index: 2;
  }
  #footer-top {
    color: #949da7;
    padding: 28px 0;
    .region-footer-top-right {
      @media (max-width: $col-sm) {
        margin-top: 10px;
      }
      @media (min-width: $col-md) {
        text-align: right;
      }
      padding-top: 8px;
      .block {
        h2 {
          @include font-open-sans;
          font-weight: 400;
          font-size: 14px;
          display: inline-block;
          margin-right: 10px;
          margin-top: 0;
          margin-bottom: 0;
        }
        .field--name-body {
          display: inline-block;
        }
      }
    }
  }
  .social-links {
    display: inline-block;
    li {
      margin: 0 18px 0 0;
    }
    a {
      color: #949da7;
      &:before {
        color: #949da7;
      }
    }
  }
}

#footer {
  background-color: $header-background-color;
  padding: 32px 0;
  color: $main-menu-color;
  text-align: center;
  p {
    line-height: 1.714;
    font-weight: 700;
    span.fa {
      color: $color;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

#footer-columns {
  ul.menu {
    position: relative;
    @media (min-width: $col-md) {
      margin-top: -16px;
    }
    li {
      a {
        border-bottom: 1px solid #414245;
        font-weight: 700;
        padding: 15px 22px;
        display: block;
        position: relative;
        color: $main-menu-color;
        &:before {
          content: ' ';
          width: 2px;
          height: 100%;
          display: block;
          top: 0;
          bottom: 0;
          left: 0;
          position: absolute;
          background: none;

        }
        &:after {
          @include fa;
          content: "\f105";
          color: $main-menu-color;
          position: absolute;
          right: auto;
          left: 5px;
          top: 19px;
          font-weight: 700;

        }
        &:hover, &:active, &:focus, &.is-active {
          background: transparent url("../images/footer_heading_bg.png") scroll 0 0 repeat;
          color: $color;
          text-decoration: none;
          outline: 0;
          &:before {
            background-color: $color;
          }
          &:after {
            color: $color;
            left: auto;
            right: 17px;
          }
        }
      }
      &:last-child {
        a {
          border-bottom: transparent;
        }
      }
    }
  }
  .node {
    .field--name-field-category {
      display: none;
    }
  }
  .inner {
    border-color: #434448;
    border-top: 1px solid rgba(255, 255, 255, 0.102);
    padding: 45px 0;
    color: #FFF;
  }
  .block, nav {
    .block-title {
      text-transform: uppercase;
      font-size: 18px;
      @include font-open-sans;
      font-weight: 700;
      margin-bottom: 37px;
      padding-bottom: 0;
      display: table;
      width: 100%;
      white-space: nowrap;
      &:after {
        content: '';
        width: 100%;
        background: transparent url("../images/footer_heading_bg.png") scroll center center repeat-x;
        display: table-cell;
        border-left: 10px solid transparent;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
      }
    }
    @media (max-width: $col-md) {
      margin-bottom: 30px;
    }
  }
  .view-display-id-footer_recent_news {
    .views-row {
      border-bottom: 1px solid #414245;
      margin-bottom: 30px;
      padding-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0 none;
      }
    }
    article.node.compact {
      background: none;
      padding: 0;
      color: #949da7;
      .node-title {
        color: #FFF;
        font-size: 14px;
        a {
          color: #FFF;
          &:hover {
            color: $color;
          }
        }
        min-height: 0;
      }
      .node-meta {
        color: #949da7;
        margin-top: 20px;
        a {
          color: #949da7;
        }
      }
    }
  }

  .block-simplenews {
    color: #949da7;
    p {
      line-height: 1.571;
      margin-bottom: 23px;
    }
    .description {
      margin-top: 5px;
    }
    .form-text, .form-email {
      border: 2px solid #494b4e;
      background: none;
      padding: 14px 17px;
      &:focus {
        border-color: $color;
      }
    }
  }

}

.tweets {
  margin: 0;
  padding: 0;
  list-style: none;
  .tweet {
    color: #949da7;
    @include clearfix;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #414245;
    .screen-name {
      display: block;
      margin-right: 5px;
      float: left;
      color: #949da7;
      a {
        color: #949da7;
      }
    }
    a {
      color: #FFF;
    }
    .time {
      color: $color;
      font-size: 13px;
    }
    &:last-child {
      border-bottom: 0 none;
      padding: 0;
      margin: 0;
    }
  }
}

.block-simplenews {
  .form-submit {
    background-color: $color;
    border: 0 none;
    width: 100%;
    display: block;
    text-transform: uppercase;
  }
  .form-type-email {
    position: relative;
    &:before {
      @include fa;
      position: absolute;
      right: 17px;
      top: 17px;
      content: "\f003";
    }
  }
}

.messages {
  margin-top: 20px;
  margin-bottom: 20px;
}

#section-slider {
  background-color: $header-background-color;
}

.block {
  div[data-contextual-id^="block"] {
    position: absolute;
  }
}

.feed-icons {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.page-title {
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 40px;
}

.view.view-taxonomy-term {
  .feed-icon {
    display: none;
  }
}

.category-header {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e8ebf0;
  position: relative;
  .category-info {
    background-color: $color;
    padding: 28px;
    color: $body-color;
    text-transform: uppercase;
    font-weight: 700;
    @include font-open-sans;
    a {
      color: $body-color;
    }
    h1, h2 {
      font-size: 36px;
      margin: 0;
      padding: 0;
      line-height: 1.167;
    }
  }
  .category-info-top {
    @include clearfix;
  }
  .category-images {
    .field--type-image {
      display: none;
    }
    @media (min-width: $col-md) {
      .field--type-image {
        @include clearfix;
        display: block;
        position: relative;
        .field__item {
          position: relative;
          float: left;
          width: 50%;
          display: block;
          &:before {
            content: ' ';
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(44, 47, 51, 0.6);
          }
          &:last-child {
            float: right;
          }
        }
        img {
          display: block;
          width: 100%;
          max-width: 100%;
          z-index: 0;
          position: relative;
        }
      }
    }

  }

  &.has-image {
    .category-info {
      @media (min-width: $col-md) {
        position: absolute;
        left: 0;
        bottom: 30px;
        width: 50%;
        height: 240px;
        z-index: 3;
      }
    }
  }

}

.page-title-wrapper {
  .region-page-title {
    margin-bottom: 30px;
  }
  .block {
    position: relative;
    padding-top: 50px;
    color: #FFF;
    min-height: 200px;
    font-size: 24px;
    .block-title {
      color: #FFF;
      font-size: 28px;
    }
    @media (min-width: $col-sm) {
      min-height: 480px;
      padding-top: 180px;
      .block-title {
        color: #FFF;
        font-size: 36px;
      }
      h1, h2, .block-title {
        font-size: 36px;
      }
    }
    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      z-index: 1;
      top: 0;
    }
    h1, .block-title {
      padding: 0;
      margin: 0;
    }
    h1, h2, h3, h4 {
      text-align: center;
      text-transform: uppercase;
      position: relative;
      z-index: 3;
    }
    h2, h3, h4 {
      @include font-open-sans;
      font-weight: 700;
      margin-top: 20px;
      padding: 0;
      font-size: 14px;
      color: $color;
    }
    &:after {
      position: absolute;
      content: ' ';
      background: rgba(44, 47, 51, 0.6);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
    }
  }

}

.builder-google-map {
  position: relative;
  a[target="_blank"], .gm-style-cc {
    display: none !important;
  }

  @media (min-width: $col-md) {
    min-height: 400px;
  }
  @media (min-width: $col-lg) {
    min-height: 640px;

  }
}

.contact-map-section {
  .builder-element-type-column {
    padding: 0;
  }
  .container {
    .builder-google-map {
      @media (min-width: $col-lg) {
        margin-left: -180px;
        margin-right: -180px;
      }

    }
  }
}

p {
  &.drop-cap, &.dc, &.d {
    line-height: 1.571;
    &:first-letter {
      @include font-montserrat;
      font-size: 36px;
      float: left;
      color: #FFF;
      line-height: 94px;
      width: 80px;
      height: 94px;
      background-color: #2c2f33;
      text-align: center;
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 30px 22px;
    }
    &.color {
      &:first-letter {
        background-color: $color;
      }
    }
  }
}

.contact-form-section {
  padding-bottom: 50px;
  h2 {
    margin-bottom: 30px;
    margin-top: 40px;
  }
  .form-textarea {
    max-height: 160px;
  }
  #edit-preview {
    display: none;
  }
  .form-submit {
    text-transform: uppercase;
    @media (max-width: $col-sm) {
      width: 100%;
      display: block;
    }
  }
  .form-text, .form-email, .form-mail, .form-password, .form-search, .form-textarea, .form-url {
    width: 100%;
  }

  @media (min-width: $col-md) {
    form {
      position: relative;
      margin-top: -1em;
    }
    .form-item-name, .form-item-mail {
      width: 50%;
      float: left;
      position: relative;
      &:before {
        @include fa;
        position: absolute;
        right: 28px;
        top: 18px;
        content: "\f007";
      }
    }
    .form-item-mail {
      padding-left: 15px;
      &:before {
        content: "\f0e0";
        right: 15px;
      }
    }
    .form-item-name {
      padding-right: 15px;
    }
    .field--name-subject {
      @include clearfix;
      clear: both;
      position: relative;
      &:before {
        @include fa;
        content: "\f035";
        position: absolute;
        right: 15px;
        top: 17px;
      }
    }
    .form-type-textarea {
      position: relative;
      &:before {
        @include fa;
        position: absolute;
        right: 15px;
        top: 17px;
        content: "\f040";
      }
    }
    .form-item, .field--name-subject {
      &:before {
        color: #cfcfd0;
      }
      &:focus, &:active, &:hover {
        &:before {
          color: $color !important;
        }
      }
    }
  }
}

.user-logged-in {
  .contact-form-section {
    .form-item-name, .form-item-mail, .form-type-email {
      &:before {
        content: '';
        display: none;
      }
    }
  }
}

.contact-address {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 28px 0;
    padding: 12px 0 0 100px;
    position: relative;
    min-height: 80px;
    &:before {
      background-color: #ededed;
      text-align: center;
      font-size: 36px;
      color: #FFF;
      width: 80px;
      height: 80px;
      text-align: center;
      line-height: 80px;
      margin-right: 20px;
      position: absolute;
      top: 0;
      left: 0;
    }
    &.map-icon, &.map {
      &:before {
        @include fa;
        content: "\f041";
        display: inline-block;
        font-size: 36px;
        line-height: 80px;
      }
    }
    &.phone-icon, &.phone {
      &:before {
        @include fa;
        content: "\f10b";
        display: inline-block;
        font-size: 36px;
        line-height: 80px;
      }
    }

  }
}

#main-wrapper {
  padding-bottom: 50px;
}

.page-news-timeline {
  .region-page-title {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 4px solid $color;
  }
}

.msg-error-404 {
  .button {
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
    border: 0 none;
    color: $body-color;
    &:hover {
      border: 0 none;
      color: $body-color;
    }
  }
}

.text-center {
  text-align: center;
}

.page-error-404 {
  .block-page-title-block, .region-content {
    text-align: center;
  }

  .page-title-wrapper {
    margin-bottom: 40px;
    .block {
      @media (min-width: $col-md) {
        min-height: 640px;
        padding-top: 50px;
      }
    }
    .block-title-404 {
      color: #FFF;
      font-size: 360px;
      font-weight: 400;
      margin: 0;
      padding: 0;
      @include font-montserrat;
    }
    h2 {
      color: #FFF;
      font-size: 36px;
      font-weight: 400;
      @include font-montserrat;
      text-transform: none;
    }
  }
  main {
    .block-page-title-block {
      display: none;
    }
  }
}

@media (max-width: $col-md) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .collapsing {
    overflow: hidden !important;
  }
}

.service-box {
  @include clearfix;
  margin-bottom: 30px;
  .fa {
    &:before {
      font-size: 42px;
    }
    color: #FFF;
    display: inline-block;
    float: left;
    background-color: $color;
    text-align: center;
    line-height: 76px;
    width: 76px;
    height: 76px;
    margin-right: 15px;
    margin-bottom: 30px;
  }
  p {
    strong {
      display: block;
      font-size: 16px;
      @include font-montserrat;
      font-weight: 700;
      margin-bottom: 10px;
    }
  }
}

.team-title {
  margin-bottom: 60px;
  h2 {
    font-size: 24px;
    em {
      color: #949da7;
      display: block;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      margin-top: 10px;
    }
  }
}

.member {
  text-align: center;
  margin-bottom: 30px;
  img {
    width: 170px;
    height: 170px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  h2 {
    font-size: 16px;
    color: $body-color;
    em, small {
      margin-bottom: 15px;
      font-size: 14px;
      @include font-open-sans;
      font-style: italic;
      font-weight: 300;
      color: #b5b8bb;
      display: block;
    }
  }
  > .builder-element-inner {
    padding: 26px 20px;
    border: 4px solid $color;
  }
  ul.social-links {
    margin-top: 30px;
    li {
      margin-right: 10px;
    }
  }
}

#team-member {
  padding-top: 50px;
  padding-bottom: 50px;
}

.builder-element.page-title {
  position: relative;
  padding: 0;
  margin: 0 0 70px 0;
  min-height: 200px;
  padding-top: 30px;
  @media (min-width: $col-sm) {
    min-height: 300px;
    padding-top: 80px;
  }
  @media (min-width: $col-md) {
    min-height: 480px;
    padding-top: 190px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
  }
  .page-title-info {
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 2;
  }
  h2, h1 {
    text-transform: uppercase;
    color: #FFF;
    font-size: 36px;
    margin: 0;
    padding: 0;
  }
  h3, h4 {
    color: $color;
    @include font-open-sans;
    font-size: 14px;
    margin-top: 14px;
  }
  .builder-element-type-image {
    &:before {
      content: ' ';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(44, 47, 51, 0.6);
      z-index: 1;
    }
  }
}

#section-slider {
  .owl-prev, .owl-next {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    line-height: 50px;
    text-align: center;
    font-size: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 50px;
    &:before {
      @include fa;
      color: $body-color;
      line-height: 45px;
      font-size: 35px;
    }
  }
  .owl-prev {
    position: absolute;
    top: 45%;
    left: 0;
    background-color: $color;
    display: block;
    &:before {
      content: "\f104";
      margin-right: 5px;
    }
  }
  .owl-next {
    position: absolute;
    top: 45%;
    right: 0;
    background-color: $color;
    display: block;
    content: "\f104";
    &:before {
      content: "\f105";
      margin-left: 5px;
    }

  }
  &:hover, &:focus, &:active {
    .owl-prev, .owl-next {
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
  }
  .owl-pagination {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .owl-controls {
    margin: 0;
  }

  @media (max-width: $col-sm) {
    .owl-prev, .owl-next {
      display: none;
    }
  }
}