article.profile {
  .media-body {
    padding-left: 20px;
  }
  .form-item {
    margin: 0;
  }
  .label {
    display: inline-block;
    text-align: left;
  }
  .field--name-field-twitter {
    @include field_social_icon("\f099");
    display: inline-block;
    margin-right: 20px;
  }
  .field--name-field-facebook {
    @include field_social_icon("\f09a");
    display: inline-block;
    margin-right: 20px;
  }
  .field--name-field-linkedin {
    @include field_social_icon("\f0e1");
    display: inline-block;
    margin-right: 20px;
  }
  .field--name-field-youtube {
    @include field_social_icon("\f167");
    display: inline-block;
    margin-right: 20px;
  }
  .field--name-field-dribbble {
    @include field_social_icon("\f17d");
    display: inline-block;
    margin-right: 20px;
  }
  .field--name-field-behance {
    @include field_social_icon("\f1b4");
    display: inline-block;
    margin-right: 20px;
  }
  .user-name {
    text-transform: uppercase;
    @include font-open-sans;
    font-weight: 700;
    font-size: 18px;
  }
  .user-profile-picture {
    img {
      width: 120px;
      height: 120px;
    }
  }

  .user-header {
    background: $header-background-color url("../images/user_profile_background.png") scroll 0 0 no-repeat;
    background-size: cover;
    padding: 40px 30px;
    color: #FFF;
    em {
      color: #b5b8bb;
      font-weight: 300;
    }
    a {
      color: #b5b8bb;
    }
    .user-social-links {
      a {
        &:before {
          color: #b5b8bb;
        }
        &:hover{
          &:before{
            color: $color;
          }
        }
      }

    }

    position: relative;
    z-index: 0;
    &:before {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(44, 47, 51, 0.82);
      content: ' ';
    }
    .inner {
      position: relative;
      z-index: 2;
    }
  }
}
