{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}

{% set extra_css_class = ' not-video' %}
<article{{ attributes.addClass('node-default-style') }}>
  {% if page and content.field_video|render %}
    {% set extra_css_class = ' has-video' %}
    <div class="video-field-wrapper">
      {{ content.field_video }}
    </div>
  {% endif %}
  <div class="node-header{{ extra_css_class }}">
    {% if content.field_image|render %}
      <div class="featured-image">
        {{ content.field_image }}
      </div>
    {% else %}
      {% if not page and content.field_video|render %}
        <div class="video-field-wrapper">
          {{ content.field_video }}
        </div>
      {% endif %}
    {% endif %}
    <div class="node-info">
      <div class="node-info-inner">
        {{ content.field_category }}
        {{ title_prefix }}
        {% if not page %}
          <h2{{ title_attributes }}>
            <a href="{{ url }}" rel="bookmark">{{ label }}</a>
          </h2>
        {% endif %}

        {% if page and node_title %}
          <h2{{ title_attributes }}>{{ label }}</h2>
        {% endif %}
        {{ title_suffix }}

        {% if display_submitted %}
          <div class="node-meta">
            <ul>
              {% if author_picture and page %}
                <li class="author-picture">{{ author_picture }}</li>
              {% endif %}
              {% if author_name and page %}
                <li class="author-name">{{ author_name }}</li>
              {% endif %}
              {% if created_time %}
                <li class="node-created">{{ created_time }}</li>
              {% endif %}
              {% if content.like | render %}
                <li class="node-likes">{{ content.like }}</li>
              {% endif %}
              <li class="node-comment-count">{{ comment_count }}</li>
            </ul>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  {% if content.body %}
    <div class="node-body">
      {{ content.body }}
    </div>
  {% endif %}

  {% if page %}
    <div class="share-links">
      {{ share_links }}
    </div>
    {% if next_post or prev_post %}
      <div class="post-pagination">
        <div class="row">

          <div class="col-md-6 post-prev">
            {% if prev_post %}
              <div class="media">
                <div class="media-body">
                  <a class="post-pagination-link prev"
                     href="{{ prev_post.url }}">{{ 'Prev Post'|t }}</a>
                  <h3><a href="{{ prev_post.url }}">{{ prev_post.title }}</a>
                  </h3>
                </div>
                <div class="media-right">
                  {{ prev_post.user_picture }}
                </div>
              </div>
            {% endif %}
          </div>

          <div class="col-md-6 post-next">
            {% if next_post %}
              <div class="media">
                <div class="media-left">
                  {{ next_post.user_picture }}
                </div>
                <div class="media-body">
                  <a class="post-pagination-link next"
                     href="{{ next_post.url }}">{{ 'Next Post'|t }}</a>
                  <h3><a href="{{ next_post.url }}">{{ next_post.title }}</a>
                  </h3>
                </div>
              </div>
            {% endif %}
          </div>

        </div>
      </div>
    {% endif %}
  {% endif %}

  {% if(page and related_posts|render) %}
    <div class="related-posts">
      <h2 class="heading">{{ 'What to read next'|t }}</h2>
      {{ related_posts }}
    </div>
  {% endif %}

  <div{{ content_attributes }}>
    {{ content|without('field_image', 'body', 'comment', 'field_tags', 'field_category', 'like', 'field_video') }}
    {{ content.comment }}
  </div>


</article>
