<article{{ attributes }}>
  {{ content.field_category }}
  <h2{{ title_attributes }}>
    <a title="{{ hub_node_title }}" href="{{ url }}" rel="bookmark">{{ label }}</a>
  </h2>
  {% if display_submitted %}
    <div class="node-meta">
      <ul>
        {% if author_picture and page %}
          <li class="author-picture">{{ author_picture }}</li>
        {% endif %}
        {% if author_name and page %}
          <li class="author-name">{{ author_name }}</li>
        {% endif %}
        {% if created_time %}
          <li class="node-created">{{ created_time }}</li>
        {% endif %}
        {% if content.like | render %}
          <li class="node-likes">{{ content.like }}</li>
        {% endif %}
        <li class="node-comment-count">{{ comment_count }}</li>
      </ul>
    </div>
  {% endif %}
  <div{{ content_attributes }}>
    {{ content|without('field_image', 'body', 'comment', 'field_tags', 'field_category', 'like') }}
  </div>
</article>