<article{{ attributes }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="slide-inner">
    <div class="slider-background">
      {{ content.field_background }}
    </div>

    <div{{ content_attributes.addClass('slide-content') }}>
      <div class="slider-container">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-8">
              <div class="featured-post-wrapper">
                <div class="featured-post">
                  {{ content.field_featured_post }}
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              {{ content.field_posts }}
            </div>
          </div>
          {{ content|without('field_background', 'links', 'comment', 'field_posts', 'field_featured_post') }}
        </div>
      </div>
    </div>
  </div>
</article>