{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
<div class="layout-container">
  {% if page.top_bar %}
    <div id="top-bar">
      <div class="container">
        {{ page.top_bar }}
      </div>
    </div>
  {% endif %}
  {% if page.toggle_sidebar %}
    <div id="toggle-sidebar" class="sidebar-collapsed collapse">
      <div class="overlay"></div>
      <div class="toggle-sidebar-inner">
        <a id="sidebar-close-btn" href="#">{{ 'Close'|t }}</a>
        {{ page.toggle_sidebar }}
      </div>

    </div>
  {% endif %}
  <header{{ header_attributes }}>
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#block-hub-main-menu"
                aria-expanded="false" aria-controls="block-hub-main-menu">
          <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{ page.header }}
      </div>
      {% if page.toggle_sidebar %}
        <button id="sidebar-toggle-btn" type="button"
                class="sidebar-toggle collapsed">
          <span class="sr-only">{{ 'Toggle sidebar'|t }}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      {% endif %}
      {{ page.primary_menu }}
    </div>
  </header>

  {% if page.page_title and  not page.slider %}
    <div class="page-title-wrapper">
      <div class="page-title-inner">
        {{ page.page_title }}
      </div>
    </div>
  {% endif %}

  {% if page.slider %}
    <div id="section-slider">
      <div class="section-slider-inner">
        {{ page.slider }}
      </div>
    </div>
  {% endif %}

  {% if page.instagram %}
    <div id="section-instagram">
      <div class="section-instagram-inner">
        {{ page.instagram }}
      </div>
    </div>
  {% endif %}

  <main class="main-page-builder">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    <div class="container">
      {% if(page.secondary_menu or page.highlighted or page.help) %}
        {{ page.highlighted }}
        {{ page.help }}
      {% endif %}
      {{ page.content|without('hub_content') }}
    </div>

    <div class="main-builder-content">
      {{ page.content.hub_content }}
    </div>
  </main>


  <div class="footer-group">
    <div class="footer-group-inner">
      {% if page.footer_top_left or page.footer_top_right %}
        <div id="footer-top">
          <div class="container">
            <div class="row">
              {% if page.footer_top_left %}
                <div class="col-md-6">
                  {{ page.footer_top_left }}
                </div>
              {% endif %}
              {% if page.footer_top_right %}
                <div class="col-md-6">
                  {{ page.footer_top_right }}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}

      {% if page.footer_first_column or page.footer_second_column or page.footer_third_column or page.footer_fourth_column %}
        <div id="footer-columns">
          <div class="container">
            <div class="inner">
              <div class="row">
                {% if page.footer_first_column %}
                  <div class="col-md-3">
                    {{ page.footer_first_column }}
                  </div>
                {% endif %}

                {% if page.footer_second_column %}
                  <div class="col-md-3">
                    {{ page.footer_second_column }}
                  </div>
                {% endif %}

                {% if page.footer_third_column %}
                  <div class="col-md-3">
                    {{ page.footer_third_column }}
                  </div>
                {% endif %}

                {% if page.footer_fourth_column %}
                  <div class="col-md-3">
                    {{ page.footer_fourth_column }}
                  </div>
                {% endif %}

              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  {% if page.footer %}
    <footer id="footer">
      <div class="container">
        {{ page.footer }}
      </div>

    </footer>
  {% endif %}

</div>{# /.layout-container #}