{#
/**
 * @file
 * Default theme implementation to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {{ title_prefix }}
  {% if not page %}
    <h2><a href="{{ url }}">{{ name }}</a></h2>
  {% endif %}
  {{ title_suffix }}

  {% if page %}

    {% set header_class = ' no-image' %}

    {% if content.field_category_image|render %}
      {% set header_class =' has-image' %}
    {% endif %}

    <div class="category-header{{ header_class }}">
      {% if content.field_category_image %}
      <div class="category-images">
        {{ content.field_category_image }}
      </div>
      {% endif %}

      <div class="category-info">
        <div class="category-info-top">
          <div class="pull-left">
            <span>{{ vocabulary_singularize }}</span>
          </div>
          <div class="pull-right">
            <div class="rss-icon">
              <a title="{{ 'RSS'|t }}" href="{{ feed_url }}">{{ 'RSS'|t }} <span
                  class="fa fa-rss"></span></a>
            </div>
          </div>
        </div>
        <h2>{{ name }}</h2>
      </div>
    </div>
  {% endif %}
  {{ content|without('field_category_image') }}
</div>
