{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
<article{{ attributes.addClass('profile') }}>
  {% if content and (view_mode == 'default' or view_mode == 'full') %}
    <div class="user-header">
      <div class="inner">
        <div class="row">
          <div class="col-md-4">
            <div class="media">
              <div class="media-left">
                <div class="user-profile-picture">
                  {{ content.user_picture }}
                </div>

              </div>
              <div class="media-body">
                <h2 class="user-name">{{ name }}</h2>
                {% if content.group_social_links|render %}
                  <div class="user-social-links">
                    {{ content.group_social_links }}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="col-md-8">
            {{ content|without('user_picture', 'group_social_links') }}
          </div>
        </div>
      </div>

    </div>


  {% else %}
    {{- content -}}
  {% endif %}
</article>
